.ul {
  list-style: none;
  background-color: #e7e7e8;
  padding: 0px;
  margin: 0px;
}

.active div {
  text-decoration: line-through;
  color: rgb(103, 103, 103);
}

.ul li {
  border-bottom: 1px solid #1976d2;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ul button {
  margin: 0 16px;
}
