.container {
  margin: 2rem auto;
  max-width: 500px;
  background-color: #f7f7f7;
}

.flex {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.input {
  margin: 0 16px 0 0;
  width: 85%;
}

.input fieldset {
  border: transparent;
}
